<div id="brand-logo" class="brand-logo">
		<a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
	    <img src="{{ global_variables.logo }}" alt="{{ global_variables.site_name }}" />
	  </a>
</div>
