<header role="banner" id="header" class="header">
	{{ page.header }}
	<input class="menu-button" type="checkbox" id="menu-button" role="button" />
	<label class="menu-icon" for="menu-button"><span class="nav-icon"></span></label>
	{{ page.navigation }}
</header>
