{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}

{%
  set classes = [
    'block',
    'block-branding',
  ]
%}

<div{{ attributes.addClass(classes)}}>
  {% if site_logo %}
    {% include '@kumquats/partials/brand-logo.html.twig' %}
  {% endif %}
  {% if site_name or site_slogan %}
  <div id="brand-heading" class="brand-heading">
    {% if site_name %}
      {% include '@kumquats/partials/brand-name.html.twig' %}
    {% endif %}
    {% if site_slogan %}
      {% include '@kumquats/partials/brand-slogan.html.twig' %}
    {% endif %}
  </div>
  {% endif %}
</div>

{% endblock %}
