body
	
	.kumquats-layout
		display flex
		flex-direction column
		min-height 100vh
		
		header, main, footer
			padding padding-default
			
	&.toolbar-vertical
		
		.kumquats-layout
			margin-top -39px
			
			header
				margin-top 39px