body
	
	&:before
		content ''
		display block
		background-color primary-accent
		position absolute
		height 0.45rem
		width 100vw
	
	#canvas-wrapper,
	#content-wrapper
		display flex
		flex-direction column
	#content-wrapper
		flex-grow 1
	#canvas-wrapper
		min-height 100vh
		
		header, main, footer
			padding padding-default
			
	&.toolbar-vertical
		
		#canvas-wrapper
			margin-top -39px
			
			header
				margin-top 39px