@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab|Sura|Open+Sans&display=swap");
#block-kumquats-branding .block-branding {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 0.5rem;
}
#block-kumquats-branding .block-branding .site-logo img {
  width: auto;
  height: 3rem;
}
