@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab|Sura|Open+Sans&display=swap");
body .kumquats-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body .kumquats-layout header,
body .kumquats-layout main,
body .kumquats-layout footer {
  padding: 1rem;
}
body.toolbar-vertical .kumquats-layout {
  margin-top: -39px;
}
body.toolbar-vertical .kumquats-layout header {
  margin-top: 39px;
}
body .kumquats-layout {
  font-family: 'Roboto', 'Frutiger', 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body .kumquats-layout * h1,
body .kumquats-layout * h2,
body .kumquats-layout * h3,
body .kumquats-layout * h4,
body .kumquats-layout * h5,
body .kumquats-layout * h6,
body .kumquats-layout * h7 {
  font-family: 'Roboto Slab', 'Palatino Linotype', Palatino, Palladio, 'URW Palladio L', 'Book Antiqua', Baskerville, 'Bookman Old Style', 'Bitstream Charter', 'Nimbus Roman No9 L', Garamond, 'Apple Garamond', 'ITC Garamond Narrow', 'New Century Schoolbook', 'Century Schoolbook', 'Century Schoolbook L', Georgia, serif;
  margin-top: 0;
}
footer {
  margin-top: auto;
}
header #block-kumquats-branding .block-branding {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}
header #block-kumquats-branding .block-branding a.site-logo img {
  height: 3rem;
  width: auto;
}
header #block-kumquats-branding .block-branding a.site-name {
  text-decoration: none;
}
header #block-kumquats-branding .block-branding p.site-slogan {
  margin: 0;
}
