body
	&.maintenance-page
		#canvas-wrapper
			display grid
			justify-content center
			align-content center
			header
				// branding
				&.header
					display grid
					justify-content center
					.brand-logo,
					.brand-heading
						text-align center
						h1,
						P
							margin 0
					.brand-logo
						height 12vh
			.content-wrapper
				text-align center