// ORGANISMS: HEADER
body
	&.path-frontpage
		header

			// branding
			.block-branding
				align-items center
				display grid
				grid-template-columns auto 1fr
				grid-gap 1rem
				h1
					margin 0
