// ORGANISMS: HEADER

header
	
	// branding
	#block-kumquats-branding
		
		.block-branding
			align-items center
			display grid
			grid-template-columns auto 1fr
			grid-gap 1rem
			
			a
				&.site-logo
					img
						height 3rem
						width auto
				
				&.site-name
					text-decoration none
					
			p
				&.site-slogan
					margin 0
